{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<h2 class="text-success">CHECKOUT</h2>
<form action="{% url 'checkout' %}" method="POST" id="checkout-form">
    {% csrf_token %}
    <fieldset>
        <legend>Personal Details</legend>
        Email Adrress * <br>
        <p>{{ order_form.email_address }}</p>
        Phone Number <br>
        <p>{{ order_form.phone_number }}</p>
    </fieldset>
    <fieldset>
        <legend>Delivery Information</legend>
        Full Name * <br>
        <p>{{ order_form.full_name }}</p>
        Address * <br>
        <p>{{ order_form.delivery_address }}</p>
        Town or City * <br>
        <p>{{ order_form.town_or_city }}</p>
        ZIP Code <br>
        <p>{{ order_form.zip_code }}</p>
        Sate: <br>
        <p>{{ order_form.state }}</p>
        Country * <br>
        <p>{{ order_form.country }}</p>
        <p>Fields with an * are required!</p>
        {% if user.is_authenticated %}
        <label for="save-info-box">Save this information for future purchases?</label>
        <input type="checkbox" name="save-info" id="save-info-box" checked>
        {% else %}
        <span>To save this information for future purchases: <br></span>
        <a href="{% url 'account_signup' %}">Create Account</a> or
        <a href="{% url 'account_login' %}">Login</a>
        {% endif %}
    </fieldset>
    <fieldset>
        <legend>Payment</legend>
        <div id="card-element"></div>
        <div id="card_errors"></div>
    </fieldset>
    <div>
        <p>
            <span>
                Your card will be charged with <strong>{{ grand_total|floatformat:2 }}$</strong>
            </span>
        </p>
        <a href="{% url 'shopping_bag' %}">
            <span>Adjust Shopping Bag</span>
        </a>
        <button id="submit-button">
            <span>Complete Order</span>
        </button>
    </div>
</form>
{% endblock %}