/* Main Setup */
body {
    font-family: 'Roboto Flex', sans-serif;
    color: #332D2D;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
}

#top-placeholder {
    height: 7rem;
}

#bottom-placeholder {
    height: 1.5rem;
}

#custom-container {
    margin: 0 1rem;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: #94ffc4;
    padding-left: 0;
}

#navbar-menu {
    background-color: #94ffc4;
    padding-left: 1rem;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 177%;
}

.nav-item {
    list-style-type: none;
}

#search-form {
    padding-right: 27%;
}

#search-input {
    width: 25rem;
}

#search-btn {
    margin-left: 0.1rem;
}

.fa-basket-shopping {
    font-size: 180%;
}

#bag {
    list-style-type: none;
    text-decoration: none;
}

#nav-bag-count {
    font-size: 1rem;
}

/* Toasts */
.message-container {
    z-index: 99999999999;
    position: fixed;
    top: 6rem;
    right: 1rem;
}

.toast {
    overflow: visible;
}

/* Index */
#sub-header {
    color: #332D2D;
}

/* Products */
#categories a {
    text-decoration: none;
}

#sort-select-box {
    border-color: #332D2D;
}

.card img {
    max-height: 300px;
    height: auto;
}

.card-product {
    width: 17rem;
    border-color: #332D2D;
    color: #332D2D;
}

.card-product a {
    text-decoration: none;
}

.card-product h3 {
    color: #332D2D;
}

/* Products Detail */
.sm-select-item {
    max-width: 5rem;
}

#category-link {
    text-decoration: none;
    color: rgb(129, 128, 128);
}

/* Account */
#newsletter-info {
    color: rgb(129, 128, 128);
}

/* Shopping Bag */
.card-bag {
    border-color: #332D2D;
}

#bag-item-link {
    text-decoration: none;
}

/* Checkout */
#card-element {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid;
    border-radius: 4px;
    background-color: white;
    color: #332D2D;
    border: 1px solid #332D2D;
}

/* media queries */

/* Navbar */
@media screen and (max-width: 1200px) {
    #search-input {
        width: 15rem;
    }
}

@media screen and (max-width: 992px) {
    .dropdown-menu {
        max-width: 15rem;
    }

    #dropdown-menu-bottom {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 576px) {
    #top-placeholder {
        height: 6rem;
    }

    .navbar-brand {
        font-size: 150%;
    }
}