{% extends "base.html" %}
{% load static %}


{% block content %}


<div id="custom-container" class="row">
    <div class=" col-12 col-sm-11 offset-sm-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4">
        <h2>Hello, {{ user.username }}!</h2>
        <h3>Your transacted orders:</h3>
        <div class="table-responsive">
            <table class="table text-dark">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Items</th>
                        <th>Date</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.order_number|truncatechars:10 }}...</td>
                        <td>
                            <ul>
                                {% for item in order.orderlineitems.all %}
                                <li>
                                    {{ item.product.name }}
                                    {% if item.product.has_weight %}
                                    {{ item.product_weight }}
                                    {% endif %}
                                    x {{ item.quantity }}
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ order.date }}</td>
                        <td>{{ order.grand_total }}$</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <h3>Your standard delivery information</h3>
        <form action="{% url 'account' %}" method="POST">
            {% csrf_token %}
            <span>
                Full Name
                {{ form.default_full_name | as_crispy_field }}
            </span>
            <span>
                Address
                {{ form.default_delivery_address | as_crispy_field }}
            </span>
            <span>
                Town or City
                {{ form.default_town_or_city | as_crispy_field }}
            </span>
            <span>
                ZIP Code
                {{ form.default_zip_code | as_crispy_field }}
            </span>
            <span>
                Sate
                {{ form.default_state | as_crispy_field }}
            </span>
            <span>
                Country
                {{ form.default_country | as_crispy_field }}
            </span>
            <br>
            <h3>Newsletter</h3>
            <span>
                Subscription <br>
                <small id="newsletter-info">With this option you can subscribe
                    to a
                    free monthly
                    newsletter service that includes
                    product
                    releases and preparation suggestions.</small>
                {{ form.has_newsletter_sub | as_crispy_field }}
            </span>
            <span>
                Email address to receive newsletter
                {{ form.newsletter_email_address | as_crispy_field }}
            </span>
            <hr>
            <button class="btn btn-dark">Update Information</button>
        </form>
    </div>
</div>




{% endblock %}