{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="custom-container" class="row">
    <div class=" col-12 col-sm-11 offset-sm-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4">
        <h2>Return <i class="fa-solid fa-truck-fast"></i></h2>
        <h4>Your Transacted Orders</h4>
        <div class="table-responsive">
            <table class="table text-dark">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Items</th>
                        <th>Date</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.order_number }}</td>
                        <td>
                            <ul>
                                {% for item in order.orderlineitems.all %}
                                <li>
                                    {{ item.product.name }}
                                    {% if item.product.has_weight %}
                                    {{ item.product_weight }}
                                    {% endif %}
                                    x {{ item.quantity }}
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ order.date }}</td>
                        <td>{{ order.grand_total }}$</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h4>Register Return</h4>
        <form method="POST" action="{% url 'add_return' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <span>
                {{ form.user.as_hidden }}
                {{ form.order | as_crispy_field }}
                {{ form.products | as_crispy_field }}
                {{ form.action | as_crispy_field }}
                {{ form.reason | as_crispy_field }}
                {{ form.comment | as_crispy_field }}
            </span>
            <p>Fields with an * are required!</p>
            <div>
                <a href="{% url 'account' %}" class="btn btn-outline-dark mt-2">Back to Account</a>
                <button class="btn btn-dark mt-2" type="button" data-toggle="modal"
                    data-target="#add-feedback-modal">Register & Send</button>
                <!-- Conformation Modal -->
                <div class="modal fade" id="add-feedback-modal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Register Return?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Are you sure you want to register your return?
                                </p>
                                <p>
                                    If this window does not close, go back and correct the form!
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Go Back</button>
                                <button class="btn btn-dark" type="submit">Register & Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}