{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="custom-container" class="row">
    <div class=" col-12 col-sm-11 offset-sm-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4">
        <h2>Add Product Review</h2>
        <form method="POST" action="{% url 'add_review' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <span>
                {{ form.product | as_crispy_field }}
                {{ form.author.as_hidden }}
                {{ form.title | as_crispy_field }}
                {{ form.content | as_crispy_field }}
            </span>
            <p>Fields with an * are required!</p>
            <div>
                <a href="{% url 'products' %}" class="btn btn-outline-dark mt-2">Back to Products</a>
                <button class="btn btn-warning mt-2 confirmation-add" type="submit">Create & Add</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.confirmation-add').on('click', function () {
        return confirm('Are you sure you want to add this review?');
    });
</script>
{% endblock %}