{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="custom-container" class="row">
    <div class=" col-12 col-sm-11 offset-sm-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4">
        <h2>Add Product Review</h2>
        <form method="POST" action="{% url 'add_review' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <span>
                {{ form.product | as_crispy_field }}
                {{ form.author.as_hidden }}
                {{ form.title | as_crispy_field }}
                {{ form.content | as_crispy_field }}
            </span>
            <p>Fields with an * are required!</p>
            <p><strong>Before your review becomes public, it will be approved by an admin! Please only write reviews
                    about
                    products that you have actually received.</strong></p>
            <div>
                <a href="{% url 'products' %}" class="btn btn-outline-dark mt-2">Back to Products</a>
                <button class="btn btn-dark mt-2" type="button" data-toggle="modal" data-target="#add-rev-modal">Create
                    & Add</button>
                <!-- Conformation Modal -->
                <div class="modal fade" id="add-rev-modal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add Review?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Are you sure you want to add this review?
                                </p>
                                <p>
                                    If this window does not close, go back and correct the form!
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Go Back</button>
                                <button class="btn btn-dark" type="submit">Create & Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}