{% extends "base.html" %}
{% load static %}

{% block content %}
{% for product in products %}
<!-- <div class="row"> -->
<div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-5 offset-0 offset-md-2 offset-lg-3 offset-xl-3">
    <div class="card">

        {% if product.image %}
        <a href="">
            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
        </a>
        {% else %}
        <!-- <a href="">
            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
        </a> -->
        {% endif %}

        <div class="card-body">
            <a href="">
                <p>{{ product.name }}</p>
            </a>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <p>{{ product.price }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
{% endfor %}
<br>


{% for product in products %}
<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <div class="card h-100 border-0">
        {% if product.image %}
        <a href="">
            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
        </a>
        {% else %}
        <a href="">
            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
        </a>
        {% endif %}
        <div class="card-body pb-0">
            <p class="mb-0">{{ product.name }}</p>
        </div>
        <div class="card-footer bg-white pt-0 border-0 text-left">
            <div class="row">
                <div class="col">
                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                    {% if product.rating %}
                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                    <small class="text-muted">No Rating</small>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}