{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row mb-2">
    <div class="col-12 text-center">
        <h2>Products</h2>
        {% for c in current_categories %}
        <span id="categories">
            <a class="mb-2 btn btn-outline-dark"
                href="{% url 'products' %}?category={{ c.name }}">{{ c.display_name }}</a>
        </span>
        {% endfor %}
    </div>
</div>
<div class="row center">
    <div class="mx-auto mb-4 col-4 col-md-3 col-lg-2">
        <select class="selectpicker form-control" id="sort-select-box">
            <option value="default" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by</option>
            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to
                high)
            </option>
            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high
                to low)
            </option>
            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category
                (A-Z)
            </option>
            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                Category (Z-A)
            </option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col mx-1 mx-sm-5">
        <div class="col-12 col-xl-10 offset-xl-1">
            {% for product in products %}
            <div class="card card-product mb-2 d-inline-flex">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
                <div class="card-body">
                    <a href="{% url 'product_detail' product.id %}">
                        <h3 class="card-title">
                            {{ product.name }}
                        </h3>
                    </a>
                    <p class="card-text">
                        {% if product.on_sale %}
                        <s>{{ product.old_price }}$</s> <span><strong>{{ product.price }}$ <i
                                    class="fa-solid fa-tag"></i></strong></span>
                        {% else %}
                        {{ product.price }}$
                        {% endif %}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#sort-select-box').change(function () {
        var selectBox = $(this);
        var url = new URL(window.location);

        var selectedValue = selectBox.val();
        if (selectedValue != "default") {
            var sortby = selectedValue.split("_")[0];
            var direction = selectedValue.split("_")[1];

            url.searchParams.set("sortby", sortby);
            url.searchParams.set("direction", direction);

            window.location.replace(url);
        } else {
            url.searchParams.delete("sortby");
            url.searchParams.delete("direction");

            window.location.replace(url);
        }
    })
</script>
{% endblock %}