{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-5 offset-0 offset-md-2 offset-lg-3 offset-xl-3">
        <h2>{{ product.name }}</h2>
        {% if product.image %}

        {% else %}

        {% endif %}
        <p>{{ product.description }}</p>
        <p class="small mt-1 mb-0">
            <a href="{% url 'products' %}?category={{ product.category.name }}">
                {{ product.category.display_name }}
            </a>
        </p>
        <p>{{ product.price }}$</p>
        <form action="{% url 'add_item' product.id %}" method="POST">
            {% csrf_token %}
            {% if product.has_weight %}
            <select name="product_weight" id="id_product_weigth">
                <option value="100g">100g</option>
                <option value="250g">250g</option>
                <option value="500g">500g</option>
            </select>
            {% endif %}
            <input type="number" name="quantity" value="1" min="1" max="50" data-product_id="{{ product.id }}"
                id="id_qty_{{ product.id }}">
            <input type="submit" value="Add to Bag">
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </form>
    </div>
</div>
{% endblock %}